<div class="${baseClass}" data-dojo-attach-point="focusNode" style="width: 100%;" >

    <div data-dojo-type="dijit/_WidgetBase" style="padding-bottom: 1ex;">
        <div data-dojo-type="dijit/form/Button"
            data-dojo-props="disabled: true">
            Импорт стиля QuantumGIS
        </div>
        <div data-dojo-type="dijit/form/Button"
            data-dojo-props="disabled: true">
            Импорт стиля SLD
        </div>
    </div>

    <div data-dojo-attach-point="xml" 
        data-dojo-type="ngw/form/CodeMirror"
        data-dojo-props="mode: 'xml', lineNumbers: true, autoHeight: true"/>

</div>