<div class="${baseClass}" data-dojo-attach-point="focusNode" style="width: 100%;" >

    <div data-dojo-type="dijit/_WidgetBase" style="padding-bottom: 1ex;">
        <div data-dojo-type="dijit/form/Button"
            data-dojo-props="disabled: true">
            Импорт стиля QuantumGIS
        </div>
        <div data-dojo-type="dijit/form/Button"
            data-dojo-props="disabled: true">
            Импорт стиля SLD
        </div>
    </div>

    <textarea data-dojo-attach-point="xml"
        data-dojo-type="dijit/form/Textarea"
        style="min-height: 100px"></textarea>

</div>